<div id="<%= dom_id recipe %>" class="card">
  <% if recipe.image.attached? && recipe.image.representable? %>
    <div class="card-image">
      <figure class="image is-4by3">
        <%= image_tag recipe.image.variant(:thumb)%>
      </figure>
    </div>
  <% end %>
  <div class="card-content">
    <div class="media">
      <% if recipe.user.avatar.attached? && recipe.user.avatar.representable? %>
        <div class="media-left">
          <figure class="image is-48x48">
            <%= image_tag recipe.user&.avatar.variant(:thumb), class:"is-rounded"%>
          </figure>
        </div>
      <% end %>
      <div class="media-content">
        <p class="title is-4"><%= recipe.title%></p>
        <p class="subtitle is-6">By: <%= recipe.user&.name%></p>
      </div>
    </div>
    <div class="content">
      <br />
      <div class="tags">
        <% recipe.tags.each do |tag| %>
          <%= link_to tag do %>
            <span class="tag is-hoverable"><%= tag.name.titleize %></span>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
